{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid d-flex aligns-items-center justify-content-center">
    <div class="add-profiles-form">
            <form method="post">
            {% csrf_token %}{{form|crispy}}
            <br>
                <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-success text-center">Dodaj konto</button>
                </div>
            </form>
    </div>
</div>

{% endblock %}