{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid d-flex aligns-items-center justify-content-center">
    <div class="set-biogram mt-5">
        <h2 class="text-center">Dodaj swój biogram </h2>
        <div class="biogram-input mt-5">
             <form method="post" enctype="multipart/form-data">
            {% csrf_token %}{{form|crispy}}
            <br>
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-success text-center">Zapisz </button>
                </div>
            </form>
        </div>
    </div>
</div>


<!--<form method="post" enctype="multipart/form-data">-->
<!--  {% csrf_token %}-->
<!--   {{ form.as_p }}-->
<!--  <button type="submit">Upload</button>-->
<!--</form>-->

{% if img_obj %}
  <h3>Succesfully uploaded : {{img_obj.title}}</h3>
  <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
{% endif %}
{% endblock %}