body{
background-color: rgb(255, 236, 179);
}

.navbar{
padding-right: 15vh;
padding-left: 25px;
}

.content{
padding-top: 5vh;
}

.delete-link{
float: right;
}

.custom-input{
width: 300px;
}

.add-profiles-form{

}