body{
background-color: rgb(255, 236, 179);
font-family: 'Rubik', sans-serif;

}

.navbar{
padding-right: 15vh;
padding-left: 25px;
}

.content{
padding-top: 5vh;
}

.delete-link{
float: right;
}

.custom-input{
width: 300px;
}

.login-input{
    border: 5px solid orange;
    border-radius: 15px;
}