body{
background-color: rgb(238, 238, 238);
font-family: 'Rubik', sans-serif;

}

a{
    text-decoration:none;
    color: black;
}

.navbar{
padding-right: 15vh;
padding-left: 25px;
}

.asteriskField {
    display: none;
}

.content{
padding-top: 5vh;
}

.delete-link{
float: right;
}

.custom-input{
width: 300px;
}

.login-input{
background-color : orange;
height: 350px;
width: 350px;
}

.social-share{
}