{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container login-form">
  <div class="row justify-content-center">
    <div class="col-md-6 login-info">
<h1>Zaloguj się</h1>
        {% load static %}
            <img class="img-responsive mx-auto d-block" src="{% static 'sky.jpg' %}" alt="Login page background" width = "300">

    </div>
    <div class="col-md-6 login-input">
    <form method="post">
        {% csrf_token %}{{form|crispy}}
        <p>Nie masz jeszcze konta? <a href="/signup">Zarejestruj się!</a></p>
        <button type="submit" class="btn btn-success">Zaloguj</button>
    </form>
    </div>
  </div>
</div>

{% endblock %}